<h1>Malinuse</h1>
<p>L'ERP (Enterprise Resource Planning) STORE permet une gestion commerciale complète de votre entreprise, des commandes aux factures, des stocks aux articles, des prospects aux clients. Toute votre gestion dans un seul outil, complet et évolutif.Malinuse touche des domaines multiples : gestion de vente, gestion de l'école, de l'entréprise, et autres, mode. C’est pourquoi notre société qui crée de nouveaux applications web revêtant à la fois l’intelligence et l’élégance se situe entre la création et la réalisation.</p>

<div class="well">
	<h3>Location Info</h3>
	<ul>
		<li>The Bookstore</li>
		<li>Bamako Mali</li>
		<li>Hamdallaye ACI: 2000</li>
		<li>Phone: (223) 90 16 79 78</li>
		<li>Email: bandiougou303@gmail.com</li>
		
	</ul>
</div>

	


